
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="cards-container">
        <div class="cards">
          <figure> <img src="img/portfolio-image-1.jpg" alt="Project#" />
            <figcaption>Wind Energy</figcaption>
          </figure>
        </div>
        <div class="cards">
          <figure> <img src="img/portfolio-image-2.jpg" alt="Project#" />
            <figcaption>Solar Energy</figcaption>
          </figure>
        </div>
        <div class="cards">
          <figure> <img src="img/portfolio-image-3.jpg" alt="Project#" />
            <figcaption>Chemical Energy</figcaption>
          </figure>
        </div>
        <div class="cards">
          <figure> <img src="img/portfolio-image-4.jpg" alt="Project#" />
            <figcaption>Biomass Energy</figcaption>
          </figure>
        </div>
        <div class="cards">
          <figure> <img src="img/portfolio-image-5.jpg" alt="Project#" />
            <figcaption>Thermal Energy</figcaption>
          </figure>
        </div>
        <div class="cards">
          <figure> <img src="img/portfolio-image-6.jpg" alt="Project#" />
            <figcaption>Mechanical Energy</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>